<div>
  <mat-toolbar color="primary"><button><h1>LocalCast Weather</h1></button></mat-toolbar>
  <div fxLayoutAlign="center">
    <div class="mat-caption">
      Your city, your forecast, right now.
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex></div>

    <mat-card fxFlex="300px">
      <div fxLayoutAlign="center">
        <app-city-search></app-city-search>
      </div>
      <mat-card-header class="mat-typography">
        <mat-card-title>
          <h2>
            Current Weather
          </h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-current-weather></app-current-weather>
      </mat-card-content>
    </mat-card>
    <div fxFlex></div>
  </div>
</div>